body {
  background-image: url("background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: honeydew;
}
h1 {
  color: black;
  font-family: courier;
  font-size: 140%;
}
h2 {
  color: black;
  font-family: courier;
  font-size: 140%;
}
p {
  color: black;
  font-family: Times New Roman;
  font-size: 100%;
}
